.Module.symvers.cmd
Module.symvers
.modules.order.cmd
modules.order
*.mod.c
*.o
*.o.cmd
*.ko
*.ko.cmd
*.mod
*.mod.cmd

linux/*/build
linux/*/oe-workdir
linux/*/oe-logs

win/x64
win/driver/x64
win/test/x64